# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Frontend
node_modules/
build/
.npm

# Data - We don't want to commit large data files
data/